<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact</title>
  </head>
  <body>
    <a href="/blog">blog</a>
    <a href="/">home</a>
    <h1>Contacts:</h1>

    <ul>
      <li>phone: <%= phone %></li>
      <li>address: <%=address%></li>
      <li>name: <%=name%></li>
    </ul>

    <form
      action="/upload"
      id="uploadForm"
      enctype="multipart/form-data"
      method="POST"
    >
      <input type="file" name="currentFile" id="" />
      <input type="submit" value="Upload File" name="submit" />
    </form>
  </body>
</html>
